body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    background: #64c1ff;
    color: rgb(4, 29, 255);
    padding: 20px;
    text-align: center;
  }
  
  nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  